

.Carousel  {
    width: 40%; 
    left: 5%;
   box-sizing: border-box;
    position: absolute;
   height: 40%;
   bottom: 4%;

   
   

}

.Carousel img {
    width: 70%;
    height: auto;
}

.word {
    color : red
}
@media (max-width : 500px) {
    .Carousel  {
    
         position: absolute;
         bottom: 40%;
         width: 70%;
         left: 10px;
         
    }
.word {
    font-size: 14px;
    display: block;
    margin-top: 30px;
    position: absolute;
    left: 65px;
}
    
    }




/* .MDBCarouselInner {
    padding-bottom: 50%;
    width:50%;
    text-align: center;
    display: flex;
    justify-content: center; 
} */