body {
    background-image: url('./assets/BLUEB.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4%;
    
}


@media (max-width : 500px) {
    .desktop {
      display: none;
    }
}